  {% extends 'mainapp/index.html' %}
  {% block content %}
  <!DOCTYPE html>

  <html>
    <body>


    <form action="" method="post">
        {% csrf_token %}
    <div class="col s12 m7">
    <h2 class="header" style="margin-left: 100px"><b><p style="color:red">{{ title }}</p></b></h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p> 
            {{ question|safe }}
          </p>
      </div>
    </div>
  </div>

<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
      <label>
        <input type="checkbox" value="{{ answer1 }}" name="q2a1" />
        <span><b>Answer 1</b> / <i>Réponse 1</i></span>
      </label>
      <p>
        {{ answer1|safe }}
      </p>
      </div>
    </div>
  </div>

<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
      <label>
        <input type="checkbox" value="{{ answer2 }}" name="q2a2" />
        <span><b>Answer 2</b> / <i>Réponse 2</i></span>
      </label>
      <p>
      {{ answer2|safe }}
    </p>
      </div>
    </div>
  </div>

<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
      <label>
        <input type="checkbox" value="{{ answer3 }}" name="q2a3" />
        <span><b>Answer 3</b> / <i>Réponse 3</i></span>
      </label>
      <p>
        {{ answer3|safe }}
      </p>
      </div>
    </div>
  </div>

<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
      <label>
        <input type="checkbox" value="{{ answer4 }}" name="q2a4" />
        <span><b>Answer 4</b> / <i>Réponse 4</i></span>
      </label>
      <p>
        {{ answer4|safe }}
      </p>
      </div>
    </div>
  </div>

  <button class="btn waves-effect waves-light" type="submit" value="submit">
    Submit
    <i class="material-icons right">send</i>
  </button>
</div>
  </form>

    </body>
  </html>

{% endblock content %}