  {% extends 'mainapp/index.html' %}
  {% block content %}
  <!DOCTYPE html>

  <html>
    <body>

<div class="container">
 <div class="row">
    <form action="" method="post">
        {% csrf_token %}
    <div class="col s12 m7">
    <h2 class="header" style="margin-left: 100px"><b><p style="color:red">{{ title }}</p></b></h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p> 
            {{ question|safe }}
          </p>
      </div>
    </div>
  </div>

<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
    <p>
      <label>
        <input type="checkbox" value="{{ answer1 }}" name="q3a1" />
        <span>{{ answer1|safe }}</span>
      </label>
    </p>
      </div>
    </div>
  </div>

<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
    <p>
      <label>
        <input type="checkbox" value="{{ answer2 }}" name="q3a2" />
        <span>{{ answer2|safe }}</span>
      </label>
    </p>
      </div>
    </div>
  </div>

<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
    <p>
      <label>
        <input type="checkbox" value="{{ answer3 }}" name="q3a3" />
        <span>{{ answer3|safe }}</span>
      </label>
    </p>
      </div>
    </div>
  </div>

<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
    <p>
      <label>
        <input type="checkbox" value="{{ answer4 }}" name="q3a4" />
        <span>{{ answer4|safe }}</span>
      </label>
    </p>
      </div>
    </div>
  </div>

<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
    <p>
      <label>
        <input type="checkbox" value="{{ answer5 }}" name="q3a5" />
        <span>{{ answer5|safe }}</span>
      </label>
    </p>
      </div>
    </div>
  </div>


  <button class="btn waves-effect waves-light" type="submit" value="submit">
    Submit
    <i class="material-icons right">send</i>
  </button>
</div>
  </form>
</div></div>
    </body>
  </html>

{% endblock content %}