{% extends 'mainapp/index.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">
<body>
<div class="card horizontal">
	<div class="card-stacked">
		<div class="card-content">
		  <p> 
		  	<b>
		    Hello Princes & Princesses of the realm
			and welcome to “La Route du Meilleur Soi”. 
			Please answer all the questions 
			,you will then be redirected to the ticketing system
			<3
		</b>
		  </p>
		  <p><i>
			Hello Princes & Princesses of the realm
			et bienvenue sur “La Route du Meilleur Soi”.
			Répondez à toutes les questions,
			 vous serez ensuite redirigé·e·s vers la billetterie
			<3
		  
		  </i></p>
		</div>
	</div>
</div>
<a href="/q1">
	<image src="{% static 'mainapp/images/map1.png' %}">
</a>
</body>
{% endblock content %}