{% extends 'mainapp/index.html' %}


{% block content %}

<div style="margin-left: 30px">
<br>
NO JUDGEMENT: Don't judge people, let go of any form of judgement, free<br>
yourself and others. We cultivate differences and we embrace them! <br>
I REPEAT: WE ARE JUDGEMENT FREE! <br>
JUST BREATHE. <br><br><br>



PAS DE JUGEMENT: Ne juge pas les autres, abandonnes toute forme de jugement, <br>
libères toi et laisse mes autres vivre comme ils l'entendent! On cultive la<br> différence et on l'embrasse! <br>
JE REPETE: PAS DE JUGEMENT! <br>
RESPIRE.<br>
</div>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">

<a href="/q314116">
	<image src="{% static 'mainapp/images/map2.png' %}">
</a>


{% endblock content %}