{% extends 'mainapp/index.html' %}

{% load static %}	
{% block content %}

<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
      <p> 
      	<b>NO JUDGEMENT:</b> Don't judge people, let go of any form of judgement, free
yourself and others. We cultivate differences and we embrace them! <br>
<b>I REPEAT: WE ARE JUDGEMENT FREE!
JUST BREATHE.</b>
      </p>
<br>


<b>PAS DE JUGEMENT:</b> <i>Ne juge pas les autres, abandonnes toute forme de jugement, libères toi et laisse mes autres vivre comme ils l'entendent! On cultive la différence et on l'embrasse!</i> <br>
<b>JE REPETE: PAS DE JUGEMENT! 
RESPIRE.</b>
  		</div>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">

<a href="/q314116">
	<image src="{% static 'mainapp/images/map2.png' %}">
</a>


{% endblock content %}