{% extends 'mainapp/index.html' %}


{% block content %}

<div style="margin-left: 30px">
<br>
LEAVE NO TRACE : We deeply encourage everyone to "bring their own cup" to avoid<br> 
single use plastic. We will offer you biodegradable soap and deploy a waste<br>
management brigade to guide you through this eco-responsable process. Think<br>
twice before packing your snacks ;) The festival will strictly be vegetarian!<br>
Shuttles will be available from 5 french cities, it's safer and cleaner!<br> 
WE BELIEVE IN YOU, LEAVE NO TRACE <3 <br>
<br><br>
LEAVE NO TRACE : Cette année on encourage VIVEMENT le système "bring your own<br>
cup" afin d'éviter le plastique à usage unique, du savon biodégradable vous <br>
sera fourni et une brigade du tri séléctif sera présente afin de vous guider <br>
vers cette démarche écoresponsable. Pensez vos provisions en conséquence ;) Le <br>
festival est strictement végé! Des navettes seront aussi mises en place au <br>
départ de 5 villes; nous préférons fortement cette alternative plus écologique<br>
et plus safe!<br> 
ON CROIS EN TOI, LEAVE NO TRACE <3<br>
</div>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">

<a href="/q80">
	<image src="{% static 'mainapp/images/map3.png' %}">
</a>
{% endblock content %}
