{% extends 'mainapp/index.html' %}


{% block content %}
{% load static %}
<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
      <p> 
<image class="logo" src="{% static 'mainapp/images/Kintoun.png' %}" /><span class="teal-text lighten-2"><b>CONSENT / SAFEPLACE:</b></span> Respect your limits and others consent in any situation.
We developped a "Safe Place" that allows you to let go, where aggressions are 
banned, where consent is respected, and where caring for each other is the 
norm. All of this in a warm, comfortable and secure space.<br>
<span class="teal-text lighten-2"><b>IT'S TIME TO BE THE BEST VERSION OF YOURSELF! YOU'VE GOT THIS!</b></span>
</p>
<br>

<p>
<image class="logo" src="{% static 'mainapp/images/Kintoun.png' %}" /><span class="teal-text lighten-2"><b>CONSENTEMENT / SAFEPLACE:</b></span> <i>Respecte absolument et systématiquement le 
consentement si tu entres dans l’intimité d'un ou d'une convive. Nous avons
développé le concept de “Safe Place” propice à un lâcher prise sain, où les 
agressions sont bannies, et où la bienveillance est strictement de rigueur, le
tout dans des conditions d’accueil du public confortables et parfaitement 
sécuritaires.</i><br>
<span class="teal-text lighten-2"><b>IL EST TEMPS D'ETRE TA MEILLEURE VERSION! TU PEUX LE FAIRE!</b></span>
</p>
</div>
</div>
</div>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">

<a href="/q42">
	<image src="{% static 'mainapp/images/map4.png' %}">
</a>

{% endblock content %}