{% extends 'mainapp/index.html' %}


{% block content %}

<div style="margin-left: 30px">
<br>
CONSENT / SAFEPLACE: Respect your limits and others consent in any situation.<br>
We developped a "Safe Place" that allows you to let go, where aggressions are <br>
banned, where consent is respected, and where caring for each other is the <br>
norm. All of this in a warm, comfortable and secure space.<br>
IT'S TIME TO BE THE BEST VERSION OF YOURSELF! YOU'VE GOT THIS!<br>
<br><br>
CONSENTEMENT / SAFEPLACE: Respecte absolument et systématiquement le <br>
consentement si tu entres dans l’intimité d'un ou d'une convive. Nous avons<br>
développé le concept de “Safe Place” propice à un lâcher prise sain, où les <br>
agressions sont bannies, et où la bienveillance est strictement de rigueur, le<br>
tout dans des conditions d’accueil du public confortables et parfaitement <br>
sécuritaires.<br>
IL EST TEMPS D'ETRE TA MEILLEURE VERSION! TU PEUX LE FAIRE!<br>

</div>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">

<a href="/q42">
	<image src="{% static 'mainapp/images/map4.png' %}">
</a>

{% endblock content %}