{% extends 'mainapp/index.html' %}


{% block content %}

<div style="margin-left: 30px">
<br>
LOVE CAMP: It’s a workshop exploration camp; it’s accessible only after acceptation by one of<br>
the crew members and after having received a brief.<br>
KEY WORDS: EXPLORATION, RESPECT, TOLERANCE<br>
<br><br>
LOVE CAMP:C’est un endroit où il y a des ateliers d'exploration, qui n’est accessible qu’avec<br>
l’autorisation d’un des membres et seulement après avoir reçu un brief.<br> 
MOTS CLES: EXPLORATION, RESPECT, TOLERANCE<br>


</div>


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">

<a href="/q80803612">
	<image src="{% static 'mainapp/images/map5.png' %}">
</a>

{% endblock content %}