{% extends 'mainapp/index.html' %}


{% block content %}
{% load static %}
<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
      <p> 
<image class="logo" src="{% static 'mainapp/images/Kintoun.png' %}" /><span class="teal-text lighten-2"><b>BEST HUMAN:</b></span> Be your best Human Being! Be Kind, respect yourself, respect others, respect Art
and creativity, respect the process of letting go, respect the land, observe and listen,
inhale the best...exhale the rest!<br>
<span class="teal-text lighten-2"><b>LOVE RULES <3</b></span>
</p>
<br>
<p>
<image class="logo" src="{% static 'mainapp/images/Kintoun.png' %}" /><span class="teal-text lighten-2"><b>MEILLEUR HUMAIN:</b></span> <i>Sois ton meilleur Humain! Sois bienveillant, respecte toi, respecte les
autres, respecte l'Art et la créativité, respecte le lâcher prise, respecte les lieux, observe et écoute, imprègne-toi du meilleur et surtout, parles avec ton cœur.</i><br>
<span class="teal-text lighten-2"><b>LOVE RULES <3</b></span>
</p>
</div>
</div>
</div>



{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">

<a href="/qBabelDidIt">
	<image src="{% static 'mainapp/images/map6.png' %}">
</a>


{% endblock content %}