{% extends 'mainapp/index.html' %}


{% block content %}

<div style="margin-left: 30px">
<br>
BEST HUMAN: Be your best Human Being! Be Kind, respect yourself, respect others, respect Art<br>
and creativity, respect the process of letting go, respect the land, observe and listen,<br>
inhale the best...exhale the rest!<br>
LOVE RULES <3<br>
<br><br>
MEILLEUR HUMAIN: Sois ton meilleur Humain! Sois bienveillant, respecte toi, respecte les<br>
autres, respecte l'Art et la créativité, respecte le lâcher prise, respecte les lieux,<br> observe et écoute, imprègne-toi du meilleur et surtout, parles avec ton cœur.<br>
LOVE RULES <3<br>
</div>



{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">

<a href="/qBabelDidIt">
	<image src="{% static 'mainapp/images/map6.png' %}">
</a>


{% endblock content %}