{% extends 'mainapp/index.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">
<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
      <p> 
<image class="logo" src="{% static 'mainapp/images/Kintoun.png' %}" /><span class="teal-text lighten-2"><b>COSTUME:</b></span> Poésie Future-Orient…take your time and let these words resonate with you… Challenge
yourself, invent, imagine, create. Your costumes are an extension of who you are and will be
the secret ingredient which will make everything even more magical. Oh, and don’t forget your
totem, what will it evoke? Why will we recognise it and want to follow it?<br>
<b>Day 1 :</b> Face/body painting & Calligraphyي 漢 हि<br>
<b>Day 2 :</b> Louve des Steppes<br>
<b>Day 3 :</b> Apocalypse in Beijing in 2125
</p>
<br>

<p>
<image class="logo" src="{% static 'mainapp/images/Kintoun.png' %}" /><span class="teal-text lighten-2"><b>COSTUME:</b></span> <i>Poésie Future-Orient…prend ton temps et laisse ces mots résonner en toi… Surpasse toi, invente, imagine, crée.
Tes costumes sont une extension de toi et seront l’ingrédient secret qui fera que tout sera encore plus magique. Pense
aussi à ton totem, que va-t-il évoquer, pourquoi va t-on le reconnaître et vouloir le suivre?<br>
<b>Jour 1 :</b> Maquillage ET Calligraphie ي 漢 हि<br>
<b>Jour 2 :</b> Louve des Steppes<br>
<b>Jour 3 :</b> Apocalypse à Beijing en 2125</i>
</p>

</div>
</div>
</div>
<div class="row">

<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
    	<div class="col s4">
        <!-- Promo Content 1 goes here -->
      </div>
      <div class="col s4">
          <a href="/YouDidIt">
    		<image src="{% static 'mainapp/images/gokupetit.png' %}" />
    	</a>
    	<p>
		<b>CLICK ON GOKU</b>
		</p>
      </div>
            <div class="col s4">
        <!-- Promo Content 3 goes here -->
      </div>


</div>
</div>
</div>


{% endblock content %}