{% extends 'mainapp/index.html' %}


{% block content %}

<div style="margin-left: 30px">
	<br>
COSTUME: Poésie Future-Orient…take your time and let these words resonate with you… Challenge<br>
yourself, invent, imagine, create. Your costumes are an extension of who you are and will be<br>
the secret ingredient which will make everything even more magical. Oh, and don’t forget your<br>
totem, what will it evoke? Why will we recognise it and want to follow it?<br>
Day 1 : Face/body painting & Calligraphyي 漢 हि<br>
Day 2 : Louve des Steppes<br>
Day 3 : Apocalypse in Beijing in 2125<br>
<br><br>


COSTUME: Poésie Future-Orient…prend ton temps et laisse ces mots résonner en toi… Surpasse toi, invente, imagine, crée.<br>
Tes costumes sont une extension de toi et seront l’ingrédient secret qui fera que tout sera encore plus magique. Pense<br>
aussi à ton totem, que va-t-il évoquer, pourquoi va t-on le reconnaître et vouloir le suivre?<br>
Jour 1 : Maquillage ET Calligraphie ي 漢 हि<br>
Jour 2 : Louve des Steppes<br>
Jour 3 : Apocalypse à Pékin en 2125<br>
<br><br><br>

Click on goku<br>

</div>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">

<a href="/YouDidIt">
	<image src="{% static 'mainapp/images/Curseur.png' %}">
</a>


{% endblock content %}