{% extends 'mainapp/index.html' %}


{% block content %}
{% load static %}

<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
      <p> 
<image class="logo" src="{% static 'mainapp/images/Kintoun.png' %}" /><span class="teal-text lighten-2"><b>HURRAY :D</b></span> YOU MADE IT HERE, SO PROUD OF YOU...AND SO LOOKING FORWARD TO WELCOME YOU <3 <br>
<span class="teal-text lighten-2"><b>HERE YOU GO:</b></span> Click on the logo</p>
<br>
<p>
<image class="logo" src="{% static 'mainapp/images/Kintoun.png' %}" /><span class="teal-text lighten-2"><b>HOURRAH :D</b></span><i> TU L’AS FAIT, TELLEMENT FIER·E·S DE TOI…ET TELLEMENT IMPATIENT·E·S DE T'ACCUEILLIR <3<br>
<span class="teal-text lighten-2"><b>HERE YOU GO:</b></span> Clique sur le logo<br></i></b>
</p>
<div class="row">
    	<div class="col s4">
        
      </div>
          	<div class="col s4">
        <!-- Promo Content 1 goes here -->
      
	<a href="/">
	<image class="logo" src="{% static 'mainapp/images/logo.png' %}" alt="centered image" />
	</a>
	</div>
	<div class="col s4">
        
    </div>
</div></div></div>



</div>
{% endblock content %}