{% extends 'mainapp/index.html' %}


{% block content %}
{% load static %}

<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
      <p> 
<b>HURRAY :D</b> YOU MADE IT HERE, SO PROUD OF YOU...AND SO LOOKING FORWARD TO WELCOME YOU <3 <br>
<b>HERE YOU GO:</b> Click on the logo</p>
<br>
<p>
<b>HOURRAH :D</b><i> TU L’AS FAIT, TELLEMENT FIER·E·S DE TOI…ET TELLEMENT IMPATIENT·E·S DE T'ACCUEILLIR <3<br>
<b>HERE YOU GO:</b> Clique sur le logo<br></i></b>
</p>
<a href="/">
<image class="logo" src="{% static 'mainapp/images/logo.png' %}" />
</a>
</div></div></div>



</div>
{% endblock content %}